@font-face {
    font-family: 'BAU';
    src: url('/BAU.otf') format('opentype');
}

body {
    background-color: rgb(17, 17, 27);
    font-family: 'BAU', sans-serif;

    width: 100%;
    height: 100%;
    margin: 0;
	padding: 0;
	overflow-x: hidden;
}

#RegionHandle {
    background-color: rgb(17, 17, 27);

	display: flex;
    flex: none;
	width: 100%;
	height: 100%;
}
#RegionHandle>ul {
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-color: rgb(204,214,244) #0e0e16;
	scrollbar-gutter: stable both-edges;
}

@media (max-aspect-ratio: 1) {


    #RegionHandle {
        width: unset;
        height: 100vh;
    }

    #RegionHandle>ul {
        flex-direction: column;
		font-size: 17vw;
    }
	.LeftText {
		display: unset;
	}
	.LeftImage {
		height: unset;
		width: 41vw;
	}

}
@media (min-aspect-ratio: 1) {


    #RegionHandle {
        width: 100%;
        height: 6.25vh;
    }

    #RegionHandle>ul {
        flex-direction: row;
    }
	.LeftText {
		display: none;
	}
	.LeftImage {
		height: 100vh;
		width: unset;
	}

}

